{% extends "base.html" %}
{% block title %}{% i18n "Interface" %}{% endblock %}
{% block content %}
    {% include 'sidebar.html' %}
    <div class="main col-xs-12 col-sm-9">
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        <table class="table table-hover table-nolines" role="main">
            <tbody>
                <tr>
                    <td>{% i18n "Interface" %}</td>
                    <td><strong>{{ iface.name }}</strong></td>
                </tr>
                <tr>
                    <td>{% i18n "IPv4" %} ({{ iface.ipv4Type }})</td>
                    <td>{{ iface.ipv4 }}</td>
                </tr>
                <tr>
                    <td>{% i18n "IPv6" %} ({{ iface.ipv6Type }})</td>
                    <td>{{ iface.ipv6 }}</td>
                </tr>
                <tr>
                    <td>{% i18n "MAC Adress" %}</td>
                    <td>{{ iface.mac }}</td>
                </tr>
                <tr>
                    <td>{% i18n "Interface type" %}</td>
                    <td>{{ iface.type }}</td>
                </tr>
                {% if iface.type == 'bridge' %}
                    <tr>
                        <td>{% i18n "Bridge device" %}</td>
                        <td>{{ iface.bridge }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>{% i18n "Boot mode" %}</td>
                    <td>{{ iface.start_mode }}</td>
                </tr>
                <tr>
                    <td>{% i18n "State" %}</td>
                    <td>
                        <form action="" method="post" role="form">{{ csrf_token }}
                            {% if iface.state == 0 %}
                                <input type="submit" class="btn btn-xs btn-default" name="start" value="{% i18n "Start" %}">
                                <input type="submit" class="btn btn-xs btn-default" name="delete" value="{% i18n "Delete" %}"
                                       onclick="return confirm('{% i18n "Are you sure?" %}')">
                            {% else %}
                                <input type="submit" class="btn btn-xs btn-default" name="stop" value="{% i18n "Stop" %}"
                                       onclick="return confirm('{% i18n "Are you sure?" %}')">
                            {% endif %}
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% include 'sidebar_close.html' %}
{% endblock %}
