{% extends "base.html" %}
{% block title %}{% i18n "Network Pool" %}{% endblock %}
{% block content %}
    {% include 'sidebar.html' %}
    <div class="main col-xs-12 col-sm-9">
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% if not network %}
            <table class="table table-hover table-nolines" role="main">
                <tbody>
                    <tr>
                        <td>{% i18n "Network name" %}</td>
                        <td><b>{{ network.name }}</b></td>
                    </tr>
                    <tr>
                        <td>{% i18n "Device" %}</td>
                        <td>{{ network.bridgeName }}</td>
                    </tr>
                    <tr>
                        <td>{% i18n "State" %}</td>
                        <td>
                            <form action="" method="post" role="form">{{ csrf_token }}
                                {% if not network.active %}
                                    <input type="submit" class="btn btn-xs btn-default" name="start"
                                           value="{% i18n "Start" %}">
                                    <input type="submit" class="btn btn-xs btn-default" name="delete"
                                           value="{% i18n "Delete" %}" onclick="return confirm('{% i18n "Are you sure?" %}')">
                                {% else %}
                                    <input type="submit" class="btn btn-xs btn-default" name="stop" value="{% i18n "Stop" %}"
                                           onclick="return confirm('{% i18n "Are you sure?" %}')">
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>{% i18n "Autostart" %}</td>
                        <td>
                            <form action="" method="post" role="form">{{ csrf_token }}
                                {% if not network.autostart %}
                                    <input type="submit" class="btn btn-xs btn-default" name="set_autostart"
                                           value="{% i18n "Enable" %}">
                                {% else %}
                                    <input type="submit" class="btn btn-xs btn-default" name="unset_autostart"
                                           onclick="return confirm('{% i18n "Are you sure?" %}')"
                                           value="{% i18n "Disable" %}">
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h3>{% i18n "IPv4 configuration" %}</h3>
            <hr>
            <table class="table table-hover table-nolines" role="main">
                <tbody>
                    <tr>
                        <td>{% i18n "IPv4 Forwarding" %}</td>
                        <td>
                            {% if network.forwardMode == 'nat' %}
                                {% i18n "NAT" %}
                            {% elif network.forwardMode == 'route' %}
                                {% i18n "ROUTE" %}
                            {% elif network.forwardMode == 'bridge' %}
                                {% i18n "BRIDGE" %}
                            {% elif not network.forwardMode %}
                                {% i18n "ISOLATE" %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{% i18n "Network" %}</td>
                        <td>{{ network.ipAddress }}</td>
                    </tr>
                    <tr>
                        <td>{% i18n "DHCP" %}</td>
                        <td>
                            {% if network.ipDhcpRangeStart and network.ipDhcpRangeEnd %}
                                <span class="label label-success">{% i18n "ON" %}</span>
                            {% else %}
                                <span class="label label-danger">{% i18n "OFF" %}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% if network.ipDhcpRangeStart and network.ipDhcpRangeEnd %}
                        <tr>
                            <td>{% i18n "Start" %}</td>
                            <td>{{ network.ipDhcpRangeStart }}</td>
                        </tr>
                        <tr>
                            <td>{% i18n "End" %}</td>
                            <td>{{ network.ipDhcpRangeEnd }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

            {% if network.ipDhcpHosts %}
                <h3>{% i18n "Fixed Address" %}</h3>
                <hr>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Show
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="input-append form-inline pull-right" style="">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="filter_input"
                                               style="margin-top:-28px;">
                                    </div>
                                    <input type="button" class="btn btn-default" id="filter_button" value="Filter">
                                    <button type="button" class="btn btn-default" id="filter_clear">Clear</button>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center">{% i18n "Address" %}</th>
                                        <th style="text-align: center">{% i18n "MAC" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody style="text-align: center">
                                    {% for fix in network.ipDhcpHosts %}
                                        <tr>
                                            <td>{{ fix.ip }}</td>
                                            <td>{{ fix.mac }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% include 'sidebar_close.html' %}
{% endblock %}
{% block script %}
    <script>
        $.expr[':'].Contains = $.expr.createPseudo(function (arg) {
            return function (elem) {
                return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
            };
        });

        $(document).ready(function () {
            // add event button labeled "filter"
            $('#filter_button').click(function (event) {
                // get value
                var filter_val = $('#filter_input').val();
                if (filter_val == '') {
                    // show all
                    $('tbody tr').show();
                } else {
                    // show only matches
                    $('tbody tr:Contains(\'' + filter_val + '\')').show();
                    // hide non-matching items
                    $('tbody tr:not(:Contains(\'' + filter_val + '\'))').hide();
                }
            });

            // add event button labeled "clear"
            $('#filter_clear').click(function (event) {
                $('#filter_input').val('');
                $('#filter_button').click();
            });

            // trigger filter when enter key pressed
            $('#filter_input').keyup(function (event) {
                if (event.keyCode == 13) {
                    $('#filter_button').click();
                }
            });
        });
    </script>
{% endblock %}
