{% extends "base.html" %}
{% block title %}{% i18n "Change password" %}{% endblock %}

{% block content %}
<h1>Change password</h1>
<form method="post">
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div class="form-group">
    <label for="password_conf">Password Confirmation</label>
    <input type="password" class="form-control" id="password_conf" name="password_conf" required>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
